body {
    background-color: white;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    background: #333;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    margin-bottom: 2rem;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 1rem;
    font-weight: 500;
    padding: 1em;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}